{% extends "base.html.twig" %}

{% block title %}Ma boutique: produits
{% endblock %}

{% block body %}
	<section>
		<h2>les produits de la categorie :
		</h2>
		{# viens de controller detailProduct  #}
		{% for product in products %}
			<article>
				<h2>Produit detail :
					{{ product.name }}</h2>
				{# {% if product.category is null %} #}
					<div class="metainfo">
						la categorie
						<strong>{{ product.category.name }}</strong>
					</div>
				{# {% endif %} #}

				<div>Quantité :
					{{ product.quantite }}</div>
				<p>prix :
					{{ product.unitprice }}
					euros</p>
				<a href="{{ path('delete_prod', {'id':product.id})}}" class="btn btn-primary">
					Delete</a>
				<a href="{{ path('add_product', {'id':product.id}) }}" class="btn btn-success">
					modif produit</a>
			</article>

		{% endfor %}
		<a href="{{ path('new_product') }}" class="btn btn-info">
			nouveau produit</a>
	</section>
{% endblock %}
